/* leaderboard.css */
.leaderboards {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .leaderboards h1 {
    font-size: 2rem;
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .leaderboards p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .leaderboards ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
  }
  
  .leaderboards li {
    font-size: 1.1rem;
    padding: 10px;
    background-color: #141414;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leaderboards li:nth-child(odd) {
    background-color: #141414;
  }
  
  .leaderboards li .rank {
    font-weight: bold;
    color: #4caf50;
  }
  
  .leaderboards li .score {
    font-weight: bold;
    color: #333;
  }
  
  .leaderboards li .name {
    font-weight: normal;
    color: #555;
  }
  
  .leaderboards p.no-scores {
    font-style: italic;
    color: #888;
  }
  
  .back-to-blogs {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .back-to-blogs:hover {
    background-color: #0056b3;
  }
  