.enroll-form-container {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 12px;
    max-width: 400px;
    margin: auto;
  }

  .enroll-form label {
    color: black;
    font-weight: 500;
  }
  
  
  .enroll-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .enroll-form input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .enroll-form button {
    padding: 8px 12px;
    background-color: #22c55e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .enroll-form button:hover {
    background-color: #16a34a;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }

  .start-learning-button {
    margin-top: 12px;
    padding: 8px 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .start-learning-button:hover {
    background-color: #1d4ed8;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  
  